<!--=== Content Part ===-->
<div class="container content">
	<div class="shadow-wrapper">
		<div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
			<a href="/years" class="btn-u btn-u-lg pull-right"><%= history("Ponga su título de boton aquí.","boton") %></a>
			<p><%= history("Ponga su título aquí.","titulo") %> </p>
			<p><%= history("Ponga su descripción aquí.","descripcion") %> </p>
			
		</div>
	</div>
</div>


      
        <!--=== end Content Part ===-->