<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9 animated fadeInLeft">
                <!-- <span>Unify is a clean and fully responsive incredible Template.</span> -->
                <p><%= promocional("Ponga su título aquí.","titulo") %></p>
                <p><%= promocional("Ponga su descripción aquí.","descripcion") %></p>
            </div>
            <div class="col-md-3 btn-buy animated fadeInRight">
                <a href="mailings/new" class="btn-u btn-u-lg"><%= promocional("Ponga su título de boton aquí","boton") %></a>
            </div>
        </div>
    </div>
    </div><!--/row-->
    <!-- End Purchase Block -->