<!-- Service Blcoks -->
<div class="wrapper">
    
    <div class="container content">
        
        
        <div class="row margin-bottom-10">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block servive-block-u">
                
                    <h2 class="heading-md"> <%= link_to 'Inicio', edit_home_path(Home.first)%></h2>
                   
                    <p>Podras hacer cambios a la modulo de inicio</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="servive-block servive-block-blue">
                    
                    <h2 class="heading-md"><%= link_to 'Informativos' %></h2>
                    
                    <p>Podras hacer cambios a la modulo  Informstivo</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="servive-block servive-block-dark">
           
                    <h2 class="heading-md"><%= link_to 'Historia'%></h2>
                    
                    <p>Podras hacer cambios a la modulo de Historia</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="servive-block servive-block-red">
                  
                   <h2 class="heading-md"> <%= link_to 'Servicios', edit_service_path(Service.first)%></h2>
                    <p> Podras hacer cambios a la modulo de Servicio</p>
                </div>
            </div>
        </div>
        
        <div class="row margin-bottom-10">
            <div class="col-md-3 col-sm-6">
                <div class="servive-block servive-block-purple">
                   
                    <h2 class="heading-md">Proyectos</h2>
                    <p>Podras hacer cambios a la modulo de Proyecto</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="servive-block servive-block-grey">
                    
                    <h2 class="heading-md">Reconocimientos</h2>
                    <p>Podras hacer cambios a la modulo de Reconocimiento</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="servive-block servive-block-yellow">
                    
                    <h2 class="heading-md">Oficinas y Matto</h2>
                    <p>Podras hacer cambios a la modulo de Oficina y Matto</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="servive-block servive-block-dark-blue">            
                    <h2 class="heading-md">Agregar usiario</h2>
                    <p>Podras agregar usuario</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End Service Blcoks -->