// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.no-color  {
color: #6D6D73;
text-decoration: none;
}
.nounderline:hover ,.nounderline  
{   
 text-decoration:none!important;
  
}

ul.wysihtml5-toolbar li a[title="Insert image"] { display: none; }
ul.wysihtml5-toolbar li a[title="Insert link"] { display: none; }
ul.wysihtml5-toolbar li a[title="Indent"] { display: none; }
ul.wysihtml5-toolbar li a[title="Ordered list"] { display: none; }
ul.wysihtml5-toolbar li a[title="Outdent"] { display: none; }
ul.wysihtml5-toolbar li a[title="CTRL+S"] { display: none; }
#ul.wysihtml5-toolbar li a[data-wysihtml5-command="formatBlock"] { display: none; }

#ul.wysihtml5-toolbar li.dropdown { display:none; }