// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* estilo de icono al mostrar vista service */
#icono-show{
font: normal normal normal 14px/1 FontAwesome;
font-size: -webkit-xxx-large;
}
.no-color  {
color: #6D6D73;
text-decoration: none;
}
.nounderline:hover ,.nounderline  
{   
 text-decoration:none!important;
  
} 
