<div class="wrapper">
    <!--=== Header ===-->
    <div class="header" id="menu_estatico">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation 
                <ul class="loginbar pull-right">
                    <li>
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="lenguages">
                            <li class="active">
                                <a href="#">English <i class="fa fa-check"></i></a>
                            </li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
                </ul>
                 End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
        
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        
                        <img id="logo-header" src="<%= logotipo %>" alt="Logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li >
                            
                               <li><%= link_to "Inicio", root_path %></li>
                            
                            <!--  <ul class="dropdown-menu">
                               
                            </ul> -->
                        </li>
                        <!-- End Home -->
                        <!-- Pages -->
                        
                        <!-- End Pages -->
                        <!-- Features -->
                        <li >
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Quienes somos
                            </a>
                            
                        </li>
                        <!-- End Features -->
                        <!-- Portfolio -->
                        <li >
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Que hacemos
                            </a>
                            <!-- <ul class="dropdown-menu">
                                <li><a href="portfolio_text_blocks.html">Portfolio Text Blocks</a></li>
                                <li><a href="portfolio_2_column.html">Portfolio 2 Columns</a></li>
                                <li><a href="portfolio_3_column.html">Portfolio 3 Columns</a></li>
                                <li><a href="portfolio_4_column.html">Portfolio 4 Columns</a></li>
                                <li><a href="portfolio_item.html">Portfolio Item Option 1</a></li>
                                <li><a href="portfolio_item1.html">Portfolio Item Option 2</a></li>
                            </ul> -->
                        </li>
                        <!-- Ens Portfolio -->
                        <!-- Blog -->
                        <li >
                             <li><%= link_to "Reconocimientos y Matto", :controller => :static_pages, :action => :recognition%></li>
                           
                        </li>
                        <!-- End Blog -->

                        <li >
                           
                          <li> <%= link_to "Historia", years_path %></li>
                        </li>


                        <!-- Contacts -->
                        <li >
                            <a href="static_pages/cyvsa_home" class="dropdown-toggle" data-toggle="dropdown">
                                Contacto
                            </a>
                           <!--  <ul class="dropdown-menu">
                                <li><a href="page_contact1.html">Contacts Default</a></li>
                                <li><a href="page_contact2.html">Contacts Option 1</a></li>
                                <li><a href="page_contact3.html">Contacts Option 2</a></li>
                            </ul> -->
                           
                        </li>
                        <!-- End Contacts -->
                        
                    </ul>
                    </div><!--/navbar-collapse-->
                </div>
            </div>
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->